
.icon-spin5:before { content: '\e818'; } /* '' */
.icon-youtube:before { content: '\e816'; } /* '' */
.icon-star:before { content: '\e806'; } /* '' */
.icon-ok-circled:before { content: '\e807'; } /* '' */
.icon-cancel:before { content: '\e829'; } /* '' */
.icon-cancel-circled:before { content: '\e800'; } /* '' */
.icon-info-circled:before { content: '\e804'; } /* '' */
.icon-lock-open-alt:before { content: '\e809'; } /* '' */
.icon-bookmark:before { content: '\e827'; } /* '' */
.icon-bookmark-empty:before { content: '\e828'; } /* '' */
.icon-download-cloud:before { content: '\e80d'; } /* '' */
.icon-upload-cloud:before { content: '\e80f'; } /* '' */
.icon-print:before { content: '\e803'; } /* '' */
.icon-phone-squared:before { content: '\e802'; } /* '' */
.icon-cog:before { content: '\e801'; } /* '' */
.icon-down-dir:before { content: '\e81f'; } /* '' */
.icon-up-dir:before { content: '\e820'; } /* '' */
.icon-down-open:before { content: '\e81d'; } /* '' */
.icon-up-open:before { content: '\e81e'; } /* '' */
.icon-angle-up:before { content: '\e825'; } /* '' */
.icon-mail-alt:before { content: '\e805'; } /* '' */
.icon-down-big:before { content: '\e822'; } /* '' */
.icon-up-big:before { content: '\e821'; } /* '' */
.icon-play:before { content: '\e808'; } /* '' */
.icon-linkedin-squared:before { content: '\e819'; } /* '' */
.icon-stackoverflow:before { content: '\e81b'; } /* '' */
.icon-twitter:before { content: '\e81c'; } /* '' */
.icon-youtube-play:before { content: '\e81a'; } /* '' */
.icon-thumbs-up:before { content: '\e80a'; } /* '' */
.icon-thumbs-down:before { content: '\e80b'; } /* '' */
.icon-dribbble:before { content: '\e80c'; } /* '' */
.icon-twitter-bird:before { content: '\e80e'; } /* '' */
.icon-github:before { content: '\e810'; } /* '' */
.icon-rss-alt:before { content: '\e815'; } /* '' */
.icon-cloud:before { content: '\e817'; } /* '' */
.icon-facebook-rect-1:before { content: '\e813'; } /* '' */
.icon-googleplus-rect-1:before { content: '\e814'; } /* '' */
.icon-linkedin-rect-1:before { content: '\e811'; } /* '' */
.icon-skype:before { content: '\e812'; } /* '' */
.icon-angle-down:before { content: '\e826'; } /* '' */